@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Roboto:wght@400;500;600;700&display=swap');

$family-sans-serif: 'Roboto', sans-serif;
$family-primary: $family-sans-serif;

$family-secondary: 'Raleway', sans-serif;
