@import 'vars';
@import 'layout';
@import 'animations';
@import 'transitions';
@import 'util';
@import 'fonts';

// Highlight.js
@import '~highlight.js/scss/a11y-dark';

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';

h1,
h2,
h3,
h4,
h5,
h6,
.font-secondary {
  font-family: $family-secondary;
}

.content {
  img {
    border-radius: 6px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  }
}

.hidden {
  visibility: hidden;
  height: 0px;
}

.content {
  iframe {
    height: 500px;
  }

  pre {
    overflow: visible;
    position: relative;
    background: transparent;
    border: none;
    padding: 1.25em 0 0 0;

    &:before {
      content: attr(data-lang);
      position: absolute;
      right: 0;
      top: 0;
      background-color: #2b2b2b;
      border-radius: 4px;
      border: 1px solid #2b2b2b;
      padding: 0 0.5em;
      color: white;
    }

    code.hljs {
      font-family: 'Source Code Pro', sans-serif;
      font-size: 1.2rem;
    }
  }
}
