@import 'vars';
@import 'layout';
@import 'animations';
@import 'transitions';
@import 'util';
@import 'fonts';
// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';

h1,
h2,
h3,
h4,
h5,
h6,
.font-secondary {
  font-family: $family-secondary;
}

.content {
  pre, img {
    border-radius: 6px;
  }
  pre {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  img {
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  }
}

.hidden {
  visibility: hidden;
  height: 0px;
}

pre.hljs {
  overflow: visible;
  position: relative;

  code {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 1.2rem;
  }

  &:before {
    content: attr(data-lang);
    position: absolute;
    right: -1px;
    top: -1em;
    background-color: #2b2b2b;
    border-radius: 4px;
    border: 1px solid #2b2b2b;
    padding: 0 0.5em;
  }
}
